<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>문의 목록</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_list.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="list-box">
				<div class="page-name">
					<h3>문의 목록</h3>
				</div>
				
				<div class="admin-list-content">
					<div class="list-search">
						<form th:action="@{/admin/inquiryList}" method="get">
							<select name="searchType" class="search-select">
								<option value="title" th:selected="${searchType == 'title'}">제목</option>
								<option value="nickname" th:selected="${searchType == 'nickname'}">작성자</option>
							</select>
							<input type="text" name="searchKeyword" placeholder="검색" class="search-text"
								th:value="${searchKeyword}">
							<button class="search-btn" type="submit">
								<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
									class="search-img">
							</button>
						</form>
					</div>
					
					<div class="admin-list-table">
						<table>
							<tr>
								<th style="width: 5%;">번호</th>
								<th style="width: 65%;">제목</th>
								<th style="width: 10%;">작성자</th>
								<th style="width: 10%;">작성일</th>
								<th style="width: 10%;">진행상황</th>
							</tr>
							<tr th:each="inquiry : ${inquiryList}">
								<td th:text="${inquiry.inquiryNumber}"></td>
								<td>
									<a th:text="${inquiry.inquiryTitle}"
										th:href="@{/admin/inquiryView/{id}(id=${inquiry.inquiryNumber})}"></a>
								</td>
								<td th:text="${inquiry.User.userNickname}"></td>
								<td th:text="${#dates.format(inquiry.inquiryDate, 'yyyy-MM-dd')}"></td>
								<th:block th:if="${inquiry.inquiryProgress == 0}">
									<td style="color: red; font-weight: bold;">답변 대기</td>
								</th:block>
								<th:block th:if="${inquiry.inquiryProgress == 1}">
									<td style="color: green;">답변 완료</td>
								</th:block>
							</tr>
						</table>

						<div class="list-page" th:if="${totalPages > 0}">
							<button type="button" class="page-button" onclick="navigateToPage(1)">&lt;&lt;</button>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + (${currentPage} - 1) + ')'"
								th:if="${currentPage > 1}">&lt;</button>
							<span th:each="i : ${#numbers.sequence(1, totalPages)}">
								<button type="button" class="page-button" th:onclick="'navigateToPage(' + ${i} + ')'"
									th:text="${i}" th:classappend="${currentPage == i} ? 'active' : ''"></button>
							</span>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + (${currentPage} + 1) + ')'"
								th:if="${currentPage < totalPages}">&gt;</button>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + ${totalPages} + ')'">&gt;&gt;</button>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
</body>
<script th:src="@{/script/admin/adminList.js}"></script>
<script th:src="@{/script/admin/adminScript.js}"></script>

</html>