<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>사용자 목록</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_list.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="list-box">

				<div class="page-name">
					<h3>사용자 목록</h3>
				</div>

				<div class="admin-list-content">

					<div class="list-search">
						<form th:action="@{/admin/memberList}" method="get">
							<select name="searchType"  class="search-select">
								<option value="name" th:selected="${searchType == 'name'}">이름</option>
								<option value="id" th:selected="${searchType == 'id'}">ID</option>
							</select>
							<input type="text" name="searchKeyword" placeholder="검색" class="search-text" th:value="${searchKeyword}">
							<button class="search-btn" type="submit">
								<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" class="search-img">
							</button>
						</form>
					</div>

					<div class="admin-list-table">
						<table>
							<tr>
								<th style="width: 5%;">번호</th>
								<th style="width: 10%;">ID</th>
								<th style="width: 5%;">이름</th>
								<th style="width: 10%;">닉네임</th>
								<th style="width: 44%;">주소</th>
								<th style="width: 10%;">전화번호</th>
								<th style="width: 10%;">가입일자</th>
								<th style="width: 6%;">역할</th>
							</tr>
							<tr th:each="member : ${memberList}">
								<td th:text="${member.userNumber}">번호</td>
								<td>
									<a th:text="${member.userId}"
										th:href="@{/admin/memberView/{id}(id=${member.userNumber})}"></a>
								</td>
								<td th:text="${member.userName}">이름</td>
								<td th:text="${member.userNickname}">닉네임</td>
								<td th:text="${member.userAddress}">주소</td>
								<td th:text="${member.userPhonenumber}">전화번호</td>
								<td th:text="${#dates.format(member.userRegistdate, 'yyyy-MM-dd')}">가입일자</td>
								<th:block th:if="${member.userRole == 0}">
									<td>일반회원</td>
								</th:block>
								<th:block th:if="${member.userRole == 1}">
									<td>관리자</td>
								</th:block>
							</tr>

						</table>

						<div class="list-page">
							<button type="button" class="page-button" onclick="navigateToPage(1)">&lt;&lt;</button>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + (${currentPage} - 1) + ')'"
								th:if="${currentPage > 1}">&lt;</button>
							<span th:each="i : ${#numbers.sequence(1, totalPages)}">
								<button type="button" class="page-button" th:onclick="'navigateToPage(' + ${i} + ')'"
									th:text="${i}" th:classappend="${currentPage == i} ? 'active' : ''"></button>
							</span>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + (${currentPage} + 1) + ')'"
								th:if="${currentPage < totalPages}">&gt;</button>
							<button type="button" class="page-button"
								th:onclick="'navigateToPage(' + ${totalPages} + ')'">&gt;&gt;</button>
						</div>

					</div>
				</div>
			</div>
		</section>

	</main>

</body>
<script  th:src="@{/script/admin/adminList.js}"></script>
</html>