<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시글 수정</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_post.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="post-box">

				<div class="admin-post-content">

					<div class="post-btns">
						<input type="button" name="" id="" value="수정 완료" class="second_btn"
							onclick="boardModifyConfirm()">
						<input type="button" name="" id="" value="글 목록"
							th:onclick="|location.href='@{/admin/boardList}'|">
					</div>

					<div class="post-info">
						<form th:action="@{/admin/boardModify}" name="boardModifyConfirmForm" method="post">
							<input type="hidden" name="boardNumber" th:value="${boardModify.boardNumber}">
							<table class="admin-post">
								<tr>
									<th>제목</th>
									<td class="post-title">
										<input type="text" name="boardTitle" id="" th:value="${boardModify.boardTitle}">
									</td>
									<th>작성자</th>
									<td th:text="${boardModify.User.userNickname}"></td>
									<th>작성일</th>
									<td th:text="${#dates.format(boardModify.boardDate, 'yyyy-MM-dd')}"></td>
									<th>조회수</th>
									<td th:text="${boardModify.boardHit}"></td>
								</tr>
								<tr>
									<th>내용</th>
									<td colspan="7" class="post-content post-modify">
										<textarea name="boardContent" id="" th:text="${boardModify.boardContent}"></textarea>
									</td>
								</tr>
							</table>

						</form>


					</div>

				</div>

			</div>

		</section>

	</main>
	<script>
		function boardModifyConfirm() {
			document.forms['boardModifyConfirmForm'].submit();
		}
	</script>
</body>

</html>