<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>관리자 로그인</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
</head>

<body>


	<header th:replace="fragments/admin_header :: admin_header"></header>

</body>
<!--<script>
	function login() {
		if (document.adminLogin.userId.value == "") {
			alert("아이디를 입력해주세요");
			document.adminLogin.userId.focus();
		} else if (document.adminLogin.userPw.value == "") {
			alert("비밀번호를 입력해주세요");
			document.adminLogin.userPw.focus();
		} else {
			document.adminLogin.submit();
		}
	}
</script>
-->

<script  th:src="@{/script/admin/adminScript.js}"></script>
</html>