<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_member_view.css}">
</head>
<body>
<main>

	<header th:replace="fragments/admin_header :: admin_header"></header>
	<aside 	th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>
	    
    <section>

        <div class="member-view-box">

            <div class="view-info">
                <table>
					<tr>
                        <th class="table-title" colspan="2"> 
							<span  th:text="${memberDetail.userName}"></span> 님의 회원정보 
						</th>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td  th:text="${memberDetail.userName}"></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td  th:text="${memberDetail.userId}"></td>
                    </tr>
                    <tr>
                        <th>닉네임</th>
                        <td  th:text="${memberDetail.userNickname}"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td  th:text="${memberDetail.userPhonenumber}"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td th:text="${memberDetail.userAddress}"></td>
                    </tr>
                    <tr>
                        <th>가입일자</th>
                        <td th:text="${#dates.format(memberDetail.userRegistdate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr>
                        <th>역할</th>
						<th:block th:if="${memberDetail.userRole == 0}">
							<td>일반회원</td>
						</th:block>
                           <th:block th:if="${memberDetail.userRole == 1}">
							<td>관리자</td>
						</th:block>
                    </tr>
                </table>
            
                <div class="view-btns">
                    <input type="button" name="" id="" value="회원목록" th:onclick="|location.href='@{/admin/memberList}'|"> 
                </div>
                
            </div>


        </div>

    </section>
    
</main>
</body>
<script  th:src="@{/script/admin/adminScript.js}"></script>
</html>
