<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_member_view.css}">
</head>
<body>
<main>

	<header th:replace="fragments/admin_header :: admin_header"></header>
	<aside 	th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>
	    
    <section>

        <div class="member-view-box">


            <div class="view-info">
                <table>
                    <tr>
                        <th class="table-title" colspan="2">@@ 님의 회원정보</th>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>닉네임</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>가입일자</th>
                        <td>test</td>
                    </tr>
                    <tr>
                        <th>역할</th>
                        <td>test</td>
                    </tr>
                </table>
            
                <div class="view-btns">
                    <input type="button" name="" id="" value="회원목록" onclick="location.href='admin_member.html'"> 
                </div>
                
            </div>


        </div>

    </section>
    
</main>
</body>
</html>
