<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>공지사항</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_post.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="post-box">

				<div class="admin-post-content">

					<div class="post-btns">
						<form th:action="@{/admin/noticeModifyForm}" name="noticeModifyForm" method="get">
							<input type="hidden" name="noticeNumber" th:value="${noticeDetail.noticeNumber}">
							<input type="button" name="" id="" value="수정" class="third_btn" onclick="modifySubmit()">
						</form>
						<form th:action="@{/admin/noticeDelete}" name="noticeDelete" method="post">
							<input type="hidden" name="noticeNumber" th:value="${noticeDetail.noticeNumber}">
							<input type="button" name="" id="" value="삭제" class="second_btn" onclick="deleteSubmit()">
						</form>

						<input type="button" name="" id="" value="글 목록"
							th:onclick="|location.href='@{/admin/noticeList}'|">
					</div>

					<div class="post-info">
						<table class="admin-post">
							<tr>
								<th>제목</th>
								<td class="notice-title" th:text="${noticeDetail.noticeTitle}"></td>
								<th>작성일</th>
								<td th:text="${#dates.format(noticeDetail.noticeDate, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr>
								<th>내용</th>
								<td colspan="7" class="post-content" th:text="${noticeDetail.noticeContent}">내용</td>
							</tr>
						</table>


					</div>

				</div>

			</div>

		</section>

	</main>
</body>
<script>
	function modifySubmit() {
		document.noticeModifyForm.submit();
	}
	function deleteSubmit() {
		document.noticeDelete.submit();
	}
</script>
<script  th:src="@{/script/admin/adminScript.js}"></script>
</html>