<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>문의글</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_post.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>
			<div class="post-box">
				<div class="admin-post-content">
					<div class="post-btns">
						<form th:action="@{/admin/inquiryAnswerForm}" name="inquiryAnswerForm" method="get">
							<input type="hidden" name="inquiryNumber" th:value="${inquiryDetail.inquiryNumber}">
							<input type="button" value="답변" class="second_btn" onclick="inquiryAnswerSubmit()">
						</form>
						<input type="button" value="글 목록" th:onclick="|location.href='@{/admin/inquiryList}'|">
					</div>
					
					<div class="post-info">
						<table class="admin-post">
							<tr>
								<th>제목</th>
								<td class="post-title" th:text="${inquiryDetail.inquiryTitle}">
								</td>
								<th>작성자</th>
								<td th:text="${inquiryDetail.User.userNickname}"></td>
								<th>작성일</th>
								<td th:text="${#dates.format(inquiryDetail.inquiryDate, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr>
								<th>내용</th>
								<td colspan="5" class="post-content" th:text="${inquiryDetail.inquiryContent}">
								</td>
							</tr>
							<tr>
								<th>답변</th>

								<th:block th:if="${answer != null}">
									<td colspan="5" class="post-content inquiry_answer"
										th:text="${answer.answerContent}"></td>
								</th:block>
								<th:block th:if="${answer == null}">
									<td colspan="5" class="post-content inquiry_answer"></td>
								</th:block>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>

	</main>
</body>
<script>
	function inquiryAnswerSubmit() {
		document.inquiryAnswerForm.submit();
	}
</script>
<script th:src="@{/script/admin/adminScript.js}"></script>

</html>