<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>공지사항 작성</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_post.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="post-box">
				<div class="admin-post-content">
					<div class="post-btns">
						<input type="button" value="작성 완료" class="second_btn" onclick="noticeWriteConfirm()">
						<input type="button" value="글 목록" th:onclick="|location.href='@{/admin/noticeList}'|">
					</div>

					<div class="post-info">
						<form th:action="@{/admin/noticeWrite}" name="noticeWriteConfirmForm" method="post">
							<input type="hidden" name="userNumber" th:value="${loginMember.userNumber}">
							<table class="admin-post">
								<tr>
									<th>제목</th>
									<td class="notice-title">
										<input type="text" name="noticeTitle" id="">
									</td>
								</tr>
								<tr>
									<th>내용</th>
									<td class="post-content post-modify">
										<textarea name="noticeContent" id="">
                                		</textarea>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</section>

	</main>
</body>
<script>
	function noticeWriteConfirm() {
		if (document.noticeWriteConfirmForm.noticeTitle.value == "") {
			alert("제목을 입력하세요");
			document.noticeWriteConfirmForm.noticeTitle.focus();
		}
		else if (document.noticeWriteConfirmForm.noticeContent.value.length == 0) {
			alert("내용을 입력하세요");
			document.noticeWriteConfirmForm.noticeContent.focus();
		} else {
			document.forms['noticeWriteConfirmForm'].submit();
		}
	}
</script>
<script th:src="@{/script/admin/adminScript.js}"></script>

</html>