<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시글 수정</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin_post.css}">
</head>

<body>
	<main>

		<header th:replace="fragments/admin_header :: admin_header"></header>
		<aside th:replace="fragments/admin_sidebar :: admin_sidebar"></aside>

		<section>

			<div class="post-box">
				<div class="admin-post-content">
					<div class="post-btns">
						<input type="button" name="" id="" value="수정 완료" class="second_btn"
							onclick="boardModifyConfirm()">
						<input type="button" name="" id="" value="글 목록"
							th:onclick="|location.href='@{/admin/boardList}'|">
					</div>

					<div class="post-info">
						<form th:action="@{/admin/boardModify}" name="boardModifyConfirmForm" method="post">
							<input type="hidden" name="boardNumber" th:value="${boardModify.boardNumber}">
							<table class="admin-post">
								<tr>
									<th>제목</th>
									<td class="post-title">
										<input type="text" name="boardTitle" id="" th:value="${boardModify.boardTitle}">
									</td>
									<th>작성자</th>
									<td th:text="${boardModify.User.userNickname}"></td>
									<th>작성일</th>
									<td th:text="${#dates.format(boardModify.boardDate, 'yyyy-MM-dd')}"></td>
									<th>조회수</th>
									<td th:text="${boardModify.boardHit}"></td>
								</tr>
								<tr>
									<th>재료</th>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardIngredient"
											th:text="${boardModify.boardIngredient}"></textarea>
									</td>
								</tr>
								<tr>
									<th rowspan="10">내용</th>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent1"
											th:text="${boardModify.boardContent1}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent2"
											th:text="${boardModify.boardContent2}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent3"
											th:text="${boardModify.boardContent3}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent4"
											th:text="${boardModify.boardContent4}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent5"
											th:text="${boardModify.boardContent5}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent6"
											th:text="${boardModify.boardContent6}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent7"
											th:text="${boardModify.boardContent7}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent8"
											th:text="${boardModify.boardContent8}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent9"
											th:text="${boardModify.boardContent9}"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="7" class="post-content board-modify">
										<textarea name="boardContent10"
											th:text="${boardModify.boardContent10}"></textarea>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>

		</section>

	</main>
</body>
<script>
	function boardModifyConfirm() {
		document.forms['boardModifyConfirmForm'].submit();
	}
</script>
<script th:src="@{/script/admin/adminScript.js}"></script>

</html>