<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보 수정</title>
   <!-- <link rel="stylesheet" th:href="@{/css/layout/mypage/profile.css}">  -->
</head>
<body>
    <div class="mypage">
        <div class="form">
            <h2>개인정보 수정</h2>
            <form th:action="@{/mypage/memberInfo}" method="post">
                <div class="form-field">
                    <label for="userName">이름</label>
                    <input id="userName" type="text" name="userName" th:value="${user.userName}" required>
                </div>
                <div class="form-field">
                    <label for="userNickname">닉네임</label>
                    <input id="userNickname" type="text" name="userNickname" th:value="${user.userNickname}" required>
                </div>
                <div class="form-field">
                    <label for="userPhonenumber">전화번호</label>
                    <input id="userPhonenumber" type="text" name="userPhonenumber" th:value="${user.userPhonenumber}" pattern="\d{3}\d{3,4}\d{4}" required>
                </div>
                <div class="form-field">
                    <label for="userAddress">주소</label>
                    <input id="userAddress" type="text" name="userAddress" th:value="${user.userAddress}">
                </div>
                <button type="submit" class="button">
                    <div class="arrow-wrapper">
                        <span class="arrow"></span>
                    </div>
                    <p class="button-text">저장</p>
                </button>
            </form>
            <button type="button" class="button" th:onclick="|window.location.href='@{/mypage}'|">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                </div>
                <p class="button-text">취소</p>
            </button>
        </div>
        <div class="finished">
            <svg>
                <use href="#svg-check" />
            </svg>
        </div>
    </div>
    <svg style="display:none;">
        <symbol id="svg-check" viewBox="0 0 130.2 130.2">
            <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </symbol>
    </svg>
    <script th:src="@{/script/mypage/profile.js}"></script>
</body>
</html>
