<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹페이지 - 마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
    <link rel="stylesheet" th:href="@{/css/board/board_list_style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content">
            <div class="mypage-header">
                <a th:href="@{/mypage/comment}">작성댓글</a>
                <a th:href="@{/mypage/boardlist}">작성 글 목록</a>
                <a th:href="@{/mypage/profile}">개인정보 수정</a>
                <a th:href="@{/mypage/inquiry_list}">문의 글 목록</a>
            </div>
            <div class="board-list">
                <div th:each="board : ${boards}" class="board-item">
                    <div class="thumbnail">
                        <a th:href="@{/board/view/{id}(id=${board.boardNumber})}">
                            <img th:src="@{'/Images/border/main/' + ${board.mainImg}}" alt="Main image" class="main-img">
                        </a>
                    </div>
                    <div class="board-details">
                        <h3>
                            <a th:href="@{/board/view/{id}(id=${board.boardNumber})}" th:text="${board.boardTitle}">board_title</a>
                        </h3>
                        <div class="stats">
                            <span th:text="'조회수 : ' + ${board.boardHit}">조회수 : board_hit</span>
                            <span>
                                <img src="/Images/border/like.png" alt="Like icon" style="width: 16px; height: 16px;">
                                <span th:text="${board.boardLike}">board_like</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
