/* body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.join {
    width: 420px;
    background: #ffffff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    padding: 20px;
}

.join h2 {
    text-align: center;
    color: #9596A2;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}

input[type="button"], input[type="submit"] {
    background-color: #04DFBD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #00FCD1;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

input[type="button"].check-button {
    margin-left: 10px;
}

form span {
    display: inline-block;
}

.join-us {
    display: flex;
    flex-direction: column;
}
