<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content" th:fragment="content">

			<h1>Board List</h1>
			<table>
			    <thead>
			    <tr>
			        <th>Title</th>
			        <th>Ingredients</th>
			        <th>Date</th>
			        <th>Actions</th>
			    </tr>
			    </thead>
			    <tbody>
			    <tr th:each="board : ${boards}">
			        <td th:text="${board.boardTitle}">Title</td>
			        <td th:text="${board.boardIngredient}">Ingredients</td>
			        <td th:text="${board.boardDate}">Date</td>
			        <td>
			            <a th:href="@{/board/view/{id}(id=${board.boardNumber})}">View</a>
			            <a th:href="@{/board/delete/{id}(id=${board.boardNumber})}">Delete</a>
			        </td>
			    </tr>
			    </tbody>
			</table>
			<a href="/board/create">Create New Board</a>        </div>
    </div>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>

    
</body>
</html>
