<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
    <link rel="stylesheet" th:href="@{/css/board/board_view_style.css}">
    <script th:src="@{/script/board/like.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content">
            <div class="box title-image-section">
                <h1 th:text="${board.boardTitle}">board_title</h1>
                <div class="board-meta">
                    <span th:text="'작성자: ' + ${board.user.userNickname}">user_nickname</span><br>
                    <span th:text="'조회수: ' + ${board.boardHit}">board_hit</span><br>
                    <span th:text="'작성일: ' + ${#temporals.format(board.boardDate, 'yyyy_MM_dd')}">board_date</span>
                </div>
                <img th:src="@{'/Images/border/main/' + ${board.mainImg}}" alt="main_img" class="main-img">
            </div>
            <div class="box ingredient-section">
                <h2>요리재료목록</h2>
                <ul>
                    <li th:each="ingredient : ${board.ingredients}">
                        <span th:text="${ingredient.ingredientName}">ingredient_name</span>: 
                        <span th:text="${ingredient.ingredientQuantity}">ingredient_quantity</span>
                    </li>
                </ul>
            </div>
            <div class="box steps-like-section">
                <div class="steps">
                    <div th:each="step : ${steps}" class="step">
                        <img th:src="@{'/Images/border/step/' + ${step.stepImage}}" alt="step_image" class="step-img">
                        <p th:text="${step.stepDescription}" class="step-description">step_description</p>
                    </div>
                </div>
                <div class="like-section">
                    <img id="like-icon"
                         th:src="${isLiked} ? '/Images/border/like.png' : '/Images/border/empty_like.png'"
                         onmouseover="this.src='/Images/border/like_hover.png'"
                         th:onmouseout="${isLiked} ? 'this.src=\'/Images/border/like.png\'' : 'this.src=\'/Images/border/empty_like.png\''"
                         th:onclick="${session.user != null} ? 'toggleLike(' + ${board.boardNumber} + ')' : 'alertLogin()'"
                         class="like-icon">
                    <span id="like-count" th:text="${board.boardLike}">0</span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>