.container {
    display: flex;
}

.menu-button {
    position: absolute;
    left: 10px;
    top: 120px;
    width: 70px;
    height: 70px;
    background: url('../../Images/layout/Menu.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}


.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.recipe-item {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.writer, .title {
    margin: 5px 0;
    font-weight: bold;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}
