/* 기본 스타일 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
}


/* 헤더 */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	position: relative;
	z-index: 2;
	background-color: white;
}

.logo-container {
	display: flex;
	align-items: center;
}

.Main-Logo {
	height: 100px;
	width: 160px;
}

.header-search-img {
	width: 17px;
	top: 10px;
	right: 12px;
	margin: 0;
}

.search-container {
	display: flex;
	align-items: center;
	margin-left: 33%;
}

.search-select {
	height: 30px !important;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.header .header-search {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.header .header-search-btn {
	background-size: contain;
	width: 45px;
	height: 33px;
	border: 1px solid #f7cc53;
	background-color: #fff5d9;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.header-search-btn:hover {
	background-color: #f7cc53;
}

.header-search-input {
	border-radius: 5px;
	width: 290px !important;
	height: 20px !important;
	padding: 5px;
	border: 1px solid #ccc;
	outline: none;
	box-sizing: unset !important;
}


.login {
	padding: 5px 10px;
	margin-right: 100px;
}

.header-login-btn {
	width: 70px;
	height: 40px;
	border: 1px solid #f7cc53;
	background-color: #fff5d9;
	cursor: pointer;
	border-radius: 8px;
	font-size: 13px;
}

.mypage-btn {
	width: 80px !important;
}

.header-login-btn:hover {
	background-color: #f7cc53;
}


.login a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

/* 사이드바 */
.sidebar-container {
	top: 0;
	position: fixed;
	z-index: 1;
	height: 100vh;
}

.sidebar-button {
	position: fixed;
	left: 7px;
	top: 130px;
	width: 70px;
	height: 70px;
	cursor: pointer;
	border: none !important;
	background-color: transparent;
	z-index: 2;
	outline: none !important;

}

.sidebar {
	width: 220px !important;
	padding: 10px;
	border-right: 1px solid #ccc;
	position: fixed;
	left: -550px;
	/* 사이드바를 화면 밖에 위치시킴 */
	padding-top: 130px;
	height: 100vh !important;
	background-color: white;
	transition: left 0.3s ease;
	/* 애니메이션 효과 */
	box-sizing: unset;

}

.sidebar.show {
	left: 0;
	/* 사이드바를 화면 안으로 이동 */
}

.sidebar .content {
	margin-top: 90px;
	/* 닫기 버튼과 겹치지 않도록 아래로 이동 */
	border: none;
	/* 선 제거 */
}

.sidebar .content div {
	margin-bottom: 10px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.sidebar-img {
	vertical-align: middle;
}



/* 메인 콘텐츠 스타일 */
.main-content {
	padding: 10px;
	transition: margin-left 0.3s ease;
	/* 애니메이션 효과 */
	margin: 0 auto;
	/* 가운데 정렬 */
	max-width: 1200px;
	/* 최대 너비 설정 */
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
}