@charset "UTF-8";


.search-result {
	padding: 50px;
}

.search-result-title {
	font-size: 24px;
	font-weight: bold;
	margin-left: 50px;
	padding-top: 20px;
	display: inline-block;
}

.selected-ingre {
	font-size: 14px;
	margin-top: 10px;
	font-weight: normal;
	max-width: 750px;
}

.refri_btn {
	width: 80px;
	height: 40px;
	background-color: #fff5d9;
	border-radius: 5px;
	border: 1px solid #f7cc53;
	float: right;
	margin-top: 40px;
	margin-right: 55px;
}


.recipe-list {
	padding: 20px;
}

.recipe-list {
	width: 100%;
	border-collapse: collapse;
}

.recipe-list th {
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.recipe-list td {
	padding: 10px;
	border-bottom: 1px solid #eaeaea;
}

.recipe-link {
	color: black;
}

.recipe-title {
	text-align: center;
	font-weight: bold;
}

.recipe-ingredients {
	font-size: 12px;
}