<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
</head>
<body>
    <div th:fragment="sidebar">
        <div>
            <button class="menu-button" onclick="toggleSidebar()"></button>
        </div>
        <div class="sidebar">
            <button class="close-button" onclick="toggleSidebar()"></button>
            <div class="content">
                <div onclick="location.href='/board/ranking'">랭킹 게시판</div>
                <div onclick="location.href='/board/list'">일반 게시판</div>
                <div onclick="location.href='/recipes/recipes'">레시피 게시판</div>
                <div>공지사항 게시판</div>
                <div class="fridge">
                    <img th:src="@{/images/layout/fridge.png}" alt="냉장고 이미지">
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>

