<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
</head>

<body>
	<div th:fragment="sidebar">
		<div>
			<button class="menu-button" onclick="toggleSidebar()"></button>
		</div>
		<div class="sidebar">
			<button class="close-button" onclick="toggleSidebar()"></button>
			<div class="content">
				<div onclick="location.href='/board/ranking'">랭킹 게시판</div>
				<div onclick="location.href='/board/list'">일반 게시판</div>
				<div onclick="location.href='/recipes/recipes'">레시피 게시판</div>
				<div onclick="location.href='/notice/list'">공지사항 게시판</div>
				<div class="fridge" th:onclick="|location.href='@{/refrigerator}'|">
					<!--<img th:src="@{/images/layout/fridge.png}" alt="냉장고 이미지">-->
					<img src="https://cdn3.iconfinder.com/data/icons/outline-amenities-icon-set/64/Refrigerator-48.png"
						alt="냉장고" class="refrigerator-img">
					<span>냉장고 관리</span>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>

</html>