@charset "utf-8";

* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100%;
    line-height: 1.0 ;
    margin: 0;
    background-color: #efefef;
}

body main {
    display: flex;
}

li {
    list-style: none;
}

/* 사이드 */

.sidebar {
    height: 100%;
    position: fixed;
    width: 10%;
    min-width: 150px;
    background: #424453;
}

li.admin-side-list:hover {
    background-color: #9b9ca9;
}

.side-menu-button {
    width: 100%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: white;
    text-align: left;
    height: 40px;
    padding-left: 20px;
}

.side-title {
    margin: 30px 0;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
}

/*  */

section{
    width: 90%;
    margin-left: 10%;
    height: 100%;
}

.page-name {
    margin-top: 50px;
    margin-left: 30px;
}