@charset "utf-8";

.post-box {
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	margin-top: 100px;
	padding-bottom: 50px;
	/* 추가: 버튼과 테이블 간격을 위해 패딩 추가 */
}

.admin-post-content {
	width: 80%;
	margin: 0 auto;
	height: auto;
	position: relative;
	padding-bottom: 50px;
	/* 추가: 버튼과 테이블 간격을 위해 패딩 추가 */
}

/* 테이블 */
.post-info {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
	/* 추가: 버튼과 테이블 간격을 위해 마진 추가 */
}

table {
	background-color: white;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	min-width: 850px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

th,
td {
	border: 1px solid #cdcdcd;
}

td.post-title {
	width: 50%;
}

td.notice-title {
	width: 70%;
}

td.post-content {
	padding: 20px 30px;
}

th {
	width: 6%;
	padding: 15px 0;
}

td textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
}

table input {
	width: 95%;
	height: 30px;
	border: none;
}

/* 버튼 */
.post-btns {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	/* 버튼과 댓글 섹션 사이의 간격 추가 */
}

.post-btns>input,
form>input {
	background-color: white;
	border: 1px solid #cdcdcd;
	padding: 10px;
	width: 100px;
	margin-left: 10px;
	/*	버튼 사이의 간격 추가 */
	border-radius: 5px;
	cursor: pointer;
}

.second_btn {
	margin-left: 10px;
	/* 간격 추가 */
}

.delete-btn {
	background-color: unset;
	border: none;
	font-weight: bold;
	cursor: pointer;
	
}

.inquiry_answer {
	height: 200px;
}

.post-modify {
	height: 300px;
}

.board-modify {
	height: 80px;
}

.admin-post-write {
	border-radius: 5px;
	border: 1px solid #cdcdcd;
}