@charset "utf-8";

.container {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.mypage-header a {
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.mypage-header a:hover {
    background-color: #f7cc53;
}

.inquiry-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.inquiry-button-container .btn-primary {
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: #fff5d9;
    border-color: #ffe5c5;
    color: black;
}

.inquiry-button-container .btn-primary:hover {
    background-color: #f7cc53;
    border-color: #ffd9b3;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #cdcdcd;
}

.table th {
    background-color: #f9f9f9;
}

.table td a {
    text-decoration: none;
    color: black;
}

.table td a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
