<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaYo - 나의 냉장고 속 요리</title>
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
    <link rel="stylesheet" th:href="@{/css/board/index.css}">
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content">
            <!-- 금주의 베스트 섹션 -->
            <div class="section">
                <div class="carousel-title">금주의 베스트
                </div>
                <div class="carousel-container">
                    <div class="carousel" id="weeklyBest-carousel">
                        <div th:each="board : ${weeklyBestBoards}" class="carousel-item">
                            <div class="thumbnail">
                                <a th:href="@{/board/view/{id}(id=${board.boardNumber})}">
                                    <img th:src="@{'/Images/border/main/' + ${board.mainImg}}" alt="Main image" class="main-img">
                                </a>
                            </div>
                            <div class="board-details">
                                <h3 class="board-title">
                                    <a th:href="@{/board/view/{id}(id=${board.boardNumber})}" th:text="${board.boardTitle}">board_title</a>
                                </h3>
								<div class="board-detail-bottom">
                                <p th:text="'작성자 : '+${board.user.userNickname}">user_nickname</p>
                                <div class="stats">
                                    <span th:text="'조회수 : ' + ${board.boardHit}">조회수 : board_hit</span>
                                    <span class="like-icon">
                                        <img src="/Images/border/like.png" alt="Like icon" style="width: 20px; height: 20px;">
                                        <span th:text="${board.boardLike}">board_like</span>
                                    </span>
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 명예의 전당 섹션 -->
            <div class="section">
                <div class="carousel-title">명예의 전당
                    <button class="more-button" onclick="window.location.href='/board/ranking'">더보기</button>
                </div>
                <div class="carousel-container">
                    <div class="carousel" id="best-carousel">
                        <div th:each="board : ${bestBoards}" class="carousel-item">
                            <div class="thumbnail">
                                <a th:href="@{/board/view/{id}(id=${board.boardNumber})}">
                                    <img th:src="@{'/Images/border/main/' + ${board.mainImg}}" alt="Main image" class="main-img">
                                </a>
                            </div>
                            <div class="board-details">
                                <h3 class="board-title">
                                    <a th:href="@{/board/view/{id}(id=${board.boardNumber})}" th:text="${board.boardTitle}">board_title</a>
                                </h3>
								<div class="board-detail-bottom">
                                <p th:text="'작성자 : '+${board.user.userNickname}">user_nickname</p>
                                <div class="stats">
                                    <span th:text="'조회수 : ' + ${board.boardHit}">조회수 : board_hit</span>
                                    <span>
                                        <img src="/Images/border/like.png" alt="Like icon" style="width: 20px; height: 20px;">
                                        <span th:text="${board.boardLike}">board_like</span>
                                    </span>
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-button right" onclick="slideRight('best')">&gt;</button>
                </div>
            </div>
            <!-- 모두의 레시피 섹션 -->
            <div class="section">
                <div class="carousel-title">모두의 레시피
                    <button class="more-button" onclick="window.location.href='/board/list'">더보기</button>
                </div>
                <div class="carousel-container">
                    <div class="carousel" id="recent-carousel">
                        <div th:each="board : ${recentBoards}" class="carousel-item">
                            <div class="thumbnail">
                                <a th:href="@{/board/view/{id}(id=${board.boardNumber})}">
                                    <img th:src="@{'/Images/border/main/' + ${board.mainImg}}" alt="Main image" class="main-img">
                                </a>
                            </div>
                            <div class="board-details">
                                <h3 class="board-title">
                                    <a th:href="@{/board/view/{id}(id=${board.boardNumber})}" th:text="${board.boardTitle}">board_title</a>
                                </h3>
								<div class="board-detail-bottom">
                                <p th:text="'작성자 : '+${board.user.userNickname}">user_nickname</p>
                                <div class="stats">
                                    <span th:text="'조회수 : ' + ${board.boardHit}">조회수 : board_hit</span>
                                    <span>
                                        <img src="/Images/border/like.png" alt="Like icon" style="width: 20px; height: 20px;">
                                        <span th:text="${board.boardLike}">board_like</span>
                                    </span>
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-button right" onclick="slideRight('recent')">&gt;</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let currentIndexWeeklyBest = 0;
    let currentIndexBest = 0;
    let currentIndexRecent = 0;

    function autoSlideWeeklyBest() {
        const track = document.getElementById('weeklyBest-carousel');
        const items = track.getElementsByClassName('carousel-item');
        const itemWidth = items[0].offsetWidth;

        currentIndexWeeklyBest += 1;
        if (currentIndexWeeklyBest >= items.length - 3) {
            currentIndexWeeklyBest = 0;
        }
        track.style.transform = 'translateX(' + (-currentIndexWeeklyBest * itemWidth) + 'px)';
    }

    setInterval(autoSlideWeeklyBest, 3000); // 3초마다 자동 슬라이드


    function slideRight(carouselId) {
        const track = document.getElementById(carouselId + '-carousel');
        const items = track.getElementsByClassName('carousel-item');
        const itemWidth = items[0].offsetWidth;

        let currentIndex = (carouselId === 'best') ? currentIndexBest : currentIndexRecent;
        currentIndex += 1;
        if (currentIndex >= items.length - 3) {
            currentIndex = 0;
        }
        track.style.transform = 'translateX(' + (-currentIndex * itemWidth) + 'px)';

        if (carouselId === 'best') {
            currentIndexBest = currentIndex;
        } else {
            currentIndexRecent = currentIndex;
        }
    }
</script>