<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content">
            <p>Main content goes here</p>
        </div>
    </div>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>




