<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹 페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/login/findId.css}">
    <!-- <link rel="stylesheet" th:href="@{/css/layout/Layout_styles.css}"> -->
</head>
<body>
    <!-- <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-content"> -->
          <div class="login">
            <div class="form">
             <h2>아이디 찾기</h2>
             <div class="form-field">
               <label for="user_Pw"></label>
                <input id="userpw" type="password" name="user_Pw" placeholder="password" required>
             </div>
             <div class="form-field">
                <label for="login-mail"></label>
                 <input id="login-mail" type="text" name="mail" placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              </div>
                <button type="submit" class="button">
                 <div class="arrow-wrapper">
                   <span class="arrow"></span>
                 </div>
                 <p class="button-text">아이디 찾기</p>
               </button>
               <div class="form-find">
            <a href="memberId">아이디 찾기</a> | <a href="memberLogin">로그인</a> | <a href="memberRegist">회원가입</a>
           </div>
          </div>
        </div>
    <!-- </div> -->
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>
