<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/layout/login/findPw.css}">
</head>
<body>
    <div class="login">
        <div class="form">
            <h2>비밀번호 찾기</h2>
            <form th:action="@{/login/findPw}" method="post">
                <div class="form-field">
                    <label for="user-name"></label>
                    <input id="user-name" type="text" name="userName" placeholder="이름" required>
                </div>
                <div class="form-field">
                    <label for="user-id"></label>
                    <input id="user-id" type="email" name="userId" placeholder="이메일" required>
                </div>
                <div class="form-field">
                    <label for="user-phonenumber"></label>
                    <input id="user-phonenumber" type="text" name="userPhonenumber" placeholder="전화번호" pattern="\d{3}\d{3,4}\d{4}" required>
                </div>
                <button type="submit" class="button">
                    <div class="arrow-wrapper">
                        <span class="arrow"></span>
                    </div>
                    <p class="button-text">확인</p>
                </button>
            </form>
            <button type="button" class="button" th:onclick="|window.location.href='@{/login/findId}'|">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                </div>
                <p class="button-text">아이디 찾기</p>
            </button>
            <button type="button" class="button" th:onclick="|window.location.href='@{/login/login}'|">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                </div>
                <p class="button-text">뒤로가기</p>
            </button>
             <!-- 에러 메시지 표시 -->
            <div th:if="${findPwError}" class="error-message" th:text="${findPwError}"></div>
            <!-- 성공 메시지 표시 -->
            <div th:if="${message}" class="success-message" th:text="${message}"></div>
            
        </div>
    </div>
    <svg style="display:none;">
        <symbol id="svg-check" viewBox="0 0 130.2 130.2">
            <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </symbol>
    </svg>
    <script th:src="@{/script/login/findPw.js}"></script>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>
