<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 결과</title>
    <link rel="stylesheet" th:href="@{/css/layout/login/findId.css}">
</head>
<body>
    <div class="login">
        <div class="form">
            <h2>아이디 찾기 결과</h2>
            <form th:action="@{/login/founId}" method="post">
            <div class="form-field">
                <label for="found-id"></label>
                <input id="found-id" type="text" th:value="'아이디 : '+${foundId}" readonly>
            </div>
            <button type="button" class="button" th:onclick="|window.location.href='@{/login/login}'|">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                </div>
                <p class="button-text">로그인</p>
            </button>
             </form>
            
        </div>
    </div>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
</body>
</html>
