<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 웹페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/login/logintest.css}">
</head>
<body th:align="center">
    <div class="login">
        <div class="form">
            <h2>로그인</h2>
            <form th:action="@{/login/login}" method="post">
                <div class="form-field">
                    <label for="login-mail"></label>
                    <input id="login-mail" type="email" name="userId" placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <svg>
                        <use href="#svg-check" />
                    </svg>
                </div>
                <div class="form-field">
                    <label for="login-password"><i class="fa fa-lock"></i></label>
                    <input id="login-password" type="password" name="userPw" placeholder="Password" pattern=".{4,}" required>
                    <svg>
                        <use href="#svg-check" />
                    </svg>
                </div>
                <button type="submit" class="button">
                    <div class="arrow-wrapper">
                        <span class="arrow"></span>
                    </div>
                    <p class="button-text">SIGN IN</p>
                </button>
            </form>
            <div class="form-find">
                <a th:href="@{/login/findPw}">비밀번호 찾기</a> &nbsp; <a th:href="@{/login/findId}">아이디 찾기</a> &nbsp; <a th:href="@{/login/register}">회원가입</a>
            </div>
        </div>
        <div class="finished">
            <svg>
                <use href="#svg-check" />
            </svg>
        </div>
    </div>
    <svg style="display:none;">
        <symbol id="svg-check" viewBox="0 0 130.2 130.2">
            <polyline points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </symbol>
    </svg>
    <script th:src="@{/script/login/logintest.js}"></script>
    <script th:src="@{/script/layout/Layout_scripts.js}"></script>
        <!-- 로그인 실패 시 alert 메시지 표시 -->
    <div th:if="${loginError}">
        <script th:inline="javascript">
            alert("아이디 또는 비밀번호가 올바르지 않습니다.");
        </script>
    </div>
</body>
</html>
