<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/layout/login/register.css}">
</head>
<body>
    <div class="register">
        <div class="form">
            <h2>회원가입</h2>
            <form th:action="@{/login/register}" method="post" onsubmit="return validateForm()">
                <div class="form-field">
                    <label for="user_name">이름</label>
                    <input type="text" class="info" name="userName" id="user_Name" placeholder="이름" required />
                </div>
                <div class="form-field">
                    <label for="user_id">아이디(이메일)</label>
                    <input type="email" class="info" name="userId" id="user_Id" placeholder="아이디(이메일)" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$"/>
                    <span><input type="button" value="중복체크" onclick="checkId()" class="check-button"/></span>
                </div>
                <div class="form-field">
                    <label for="user_pw">비밀번호</label>
                    <input type="password" class="info" name="userPw" id="user_Pw" placeholder="비밀번호" pattern=".{6,}" required  />
                </div>
                <div class="form-field">
                    <label for="user_repw">비밀번호 확인</label>
                    <input type="password" class="info" name="user_repw" id="user_rePw" placeholder="비밀번호 확인"  pattern=".{6,}" required  />
                    <div id="pw-match-result"></div>
                </div>
                <div class="form-field">
                    <label for="user_nickname">닉네임</label>
                    <input type="text" class="info" name="userNickname" id="user_Nickname" placeholder="닉네임" required  />
                    <span><input type="button" value="중복체크" onclick="checkNickname()" class="check-button"/></span>
                    <div id="nickname-check-result"></div>
                </div>
                <div class="form-field">
                    <label for="phone">핸드폰번호</label>
                    <input type="text" class="info" name="userPhonenumber" size="11" maxlength="11" placeholder="핸드폰번호('-'빼고 입력)" required  />
                </div>
                <div class="form-field">
                    <label for="addr">주소</label>
                    <input type="text" class="info" name="userAddress" size="50" placeholder="주소" required  />
                </div>
                <input type="hidden" name="userRole" value="0" />
                <button type="submit" class="button">
                    <div class="arrow-wrapper">
                        <span class="arrow"></span>
                    </div>
                    <p class="button-text">회원가입</p>
                </button>
            </form>
            <button type="button" class="button" th:onclick="|window.location.href='@{/login/login}'|">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                </div>
                <p class="button-text">뒤로가기</p>
            </button>
        </div>
    </div>
    <script th:src="@{/script/layout/login/register.js}"></script>
</body>
</html>
