<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>레시피 검색</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/refrigerator/refrigerator.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/refrigerator/refrigerator_search.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout/Layout_styles.css}">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>
	<aside th:replace="fragments/sidebar :: sidebar"></aside>
	<div class="refri-content-box">
		<div class="search-result-title">
			<span>레시피 목록</span>
		</div>

		<div class="search-result">


			<table class="recipe-list">
				<thead>
					<tr>
						<th style="width: 30%;">글 제목</th>
						<th style="width: 15%;">요리명</th>
						<th style="width: 55%;">재료</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="recipe : ${recipe}">
						<td class="recipe-title">
							<a th:href="@{'https://www.10000recipe.com/recipe/' + ${recipe.recipeNumber}}"
								target="_blank" th:text="${recipe.recipeTitle}"></a>
						</td>
						<td th:text="${recipe.recipeName}"></td>
						<td th:text="${recipe.recipeIngredient}" class="recipe-ingredients"></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

</body>

<script th:src="@{/script/layout/Layout_scripts.js}"></script>

</html>