<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>레시피 검색</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/refrigerator/refrigerator.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout/Layout_styles.css}">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>
	<aside th:replace="fragments/sidebar :: sidebar"></aside>
	<div class="refri-content-box">
	
	</div>

</body>

<script th:src="@{/script/layout/Layout_scripts.js}"></script>

</html>