.container {
    display: flex;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    margin-left: 15%; /* 사이드바 폭만큼 왼쪽 여백 추가 */
    max-width: 1200px; /* 원하는 최대 너비로 설정 */
    margin: 0 auto; /* 가로 중앙 정렬 */
}

.board-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.board-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px; /* 원하는 카드의 너비로 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.details {
    padding-top: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.writer, .views, .likes {
    font-size: 14px;
    margin-bottom: 5px;
}

.likes {
    display: flex;
    align-items: center;
}

.likes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
