.board-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-item {
    border: 1px solid #000;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
}

.board-img img {
    width: 100%;
    height: auto;
}

.board-content {
    margin-top: 10px;
}

.board-content h2 {
    font-size: 1.5em;
}

.board-content p {
    margin: 5px 0;
}

.board-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-like {
    display: flex;
    align-items: center;
}

.board-like img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
